body {
    background: #000;
    font-family: "Trebuchet Ms", Helvetica, Arial, Verdana;
    font-size: 13px;
    color: #fff;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

    #wrapper #scene {
        float: left;
    }
    
    #wrapper #map {
        float: right;
    }
    
    #wrapper #logging {
        float: left;
        width: 1000px;
        background: #fff;
        font-family: "Lucidia Console", "Arial", "Verdana";
        font-size: 9px;
        color: #000;
        margin: 20px 0 0 0;
        position: relative;
    }
    
    #wrapper #messages {
        float: left;
        width: 980px;
        height: 200px;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 10px;
        margin: 0;
    }
    
    #wrapper #watch {
        background: #666;
        color: #fff;
        height: 180px;
        margin: 10px 30px 10px 10px;
        padding: 10px;
        position: absolute;
        right: 0;
        top: 0;
        width: 300px;
    }